html, body .showpage {
    height: 100%;
    width: 100%;
}

body {
    background: url(img/computers.png) no-repeat center center fixed;
    background-size: cover;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}

.navbar-inverse  {
    border: none;
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-inverse .navbar-brand  {
    color: orange;
    font-size: 2em;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    padding: none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a.active {
    color:orange;
}

.padding {
    padding: 90px 0px;
}

.showpage {
    display: table;
    position: relative;
}

.text-landing {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.text-landing h1 {
    font-size: 3em;
    text-shadow: 5px 3px 5px #000;
	overflow: hidden;
}

.btn-landing {
    padding: 5px 60px;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 50px;
    transition: background 0.5s ease-in-out;
}

/* =============== Services Session ================= */
.services {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

.thumbnail {
    box-shadow: 5px 5px 10px black;
}

.services h4 {
    font-size: 2em;
    font-weight: 100;
    text-shadow: 2px 2px 5px black;
}

header h2 {
    color: orange;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}

.btn-services {
    transition: background 0.5s ease-in-out;
    padding: 3px 25px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    height: 3px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
    height: 5px;
}




/* =============== Technologies Session ================= */
.tech h2 {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
    font-size: 3em;
}

.tech h4 {
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px 5px #000;
}


/* =============== Font Awesome ================= */
.fas, .fab {
    color: #fff;
}

.fa-html5 {
    color: red;
}

.fa-css3-alt {
    color: blue;
}

.fa-js-square {
    color: yellow;
}

.fa-facebook-f {
    color: blue;

}

.fa-instagram {
    color: red;
    margin-left: 10px;
}

.fa-bootstrap {
    color: rgb(54, 2, 54);
}

.fa-map-marked-alt {
    color: gray;
}

.fa-whatsapp {
    color: green;
}


/* ================ Footer Session ================= */

footer {
    background: #000;
    padding: 20px 0px;
}

.nav>li>a {
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    padding: none;
}

.nav>li>a:hover {
    color: orange;
    background: none;
}

.nav-footer {
    color: orange;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

.nav-footer:hover {
    color: #fff;
    text-decoration: none;
}

footer p {
    color: #fff;
    font-size: 1.2em;
}

footer h4 {
    color: rgb(211, 121, 18);
    text-shadow: 2px 2px 5px black;
}

.btn-center {
    text-align: center;
}



/* =============== Media Queries ================= */
@media screen and (max-width: 767px) {
    .text-landing {
        text-align: center;
    }
	
	.text-landing h1 {
        font-size: 2.2em;
    }

    .nav-footer {
        text-align: center;
    }

    .tech h4 {
        margin-bottom: 34px;
    }

    .tech h2 {
        margin-top: 24px;
    }
	
	.tech {
		display: none
	}

    .contact-us {
        width: 100%;
        margin: 210px auto;
        max-width: 100%;
     }

     .about {
         width: 100%;
     }

     .contact {
        width: 60%;    
        margin: 20px 0px;
        }
      

}

@media screen and (min-width: 992px) {
    .services h4 {
        font-size: 1.7em;
        
    }

}

