body {
    background: #ccc;
}

/* ================== NavBar ===================== */

.navbar-inverse  {
    border: none;
    padding: 15px 0px;
}

.navbar-inverse .navbar-brand  {
    color: orange;
    font-size: 2em;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a.active {
    color:orange;
}

 /* =============== About Page ================= */
 .about {
    margin: 50px auto;
    text-align: center;
    width: 60%;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

.about h1 {
    color: orange;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

 /* =============== Contact Page ================= */
 .contact {
  margin: 90px 0px;
  background: #fff;
  padding-bottom: 25px;
  padding-top: 20px; 
  overflow: hidden;
}

 .contact h1 {
  color: orange; 
  margin-bottom: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

 .contact p {
  font-size: 1.2em;
 
}


/* ================ ContactUs Session ================= */
.contact-us{
    margin: 50px;
}

.contact-us h1{
    color: orange;
    text-shadow: 2px 2px 5px black;
}

form {
    width: 70%;
    margin: 0px auto;
}

.form-control {
    border-radius: 20px;
}

form label {
    color: orange;
    margin-top: 20px;
    font-size: 1.3em;
}

.btn-form {
    padding: 5px 70px;
    border-radius: 20px;
    font-size: bold;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.5s ease-in-out;
}

.error {
	border: 3px solid red;
}

 /* ================ Footer Session ================= */

footer {
    background: #000;
    padding: 20px 0px;
}

.nav>li>a {
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    padding: none;
}

.nav>li>a:hover {
    color: orange;
    background: none;
}

.nav-footer {
    color: orange;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

.nav-footer:hover {
    color: #fff;
    text-decoration: none;
}

footer p {
    color: #fff;
    font-size: 1.2em;
}

footer h4 {
    color: rgb(211, 121, 18);
    text-shadow: 2px 2px 5px black;
}

/* =============== Font Awesome ================= */
.fas, .fab {
    color: #fff;
}

.fa-html5 {
    color: red;
}

.fa-css3-alt {
    color: blue;
}

.fa-js-square {
    color: yellow;
}

.fa-facebook-f {
    color: blue;

}

.fa-instagram {
    color: red;
    margin-left: 10px;
}

.fa-bootstrap {
    color: rgb(54, 2, 54);
}

.fa-map-marked-alt {
    color: gray;
}

.fa-whatsapp {
    color: green;
}


/* =============== HR ================= */

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    height: 3px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
    height: 5px;
}

/* =============== Show Page ================= */
.allshowpage h1 {
	text-align: center;
	color: orange;
}

.btn-space {
    padding: 15px;
    margin: 0px 10px;
}

/* =============== Media Querie ================= */
@media screen and (max-width: 768px){
    form {
        width: 100%;
    } 
    
    form label {
        font-size: 1.6em;
		font-weight: 400;
    }
	
	.about {
		width: 100%;
	}
	
	.btn-form {
    padding: 5px 35px;
   }
	
	.btn-form:hover {
    background: none;
   }
	
}